*{
    margin: 0;
    padding: 0;
}
.container{
    /* background-image: url("https://img.freepik.com/free-photo/flat-lay-camera-black-background-with-copy-space_23-2148363419.jpg?t=st=1706626378~exp=1706626978~hmac=e4fa074305f5e75a79f96eae3388a45f561d2c4273fbe1e8344ce8f668b91e69"); */
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;

}
html{
    scroll-behavior: smooth;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    border-bottom: 5px solid #11749E;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav li{
    padding-left: 50px;
    list-style: none;
    padding-top: 20px;
    margin-bottom: 10px;
}

nav {
    width: 100%;
    border-bottom: 2px solid gray;
}
#h1{
    color: white;
    text-align: center;
    font-size: 8rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.h1{
    display: block;
    padding-top: 10%;
}
#h2 h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
#h2 h1{
    color: white;
    position: absolute;
    left: 30%; 
    bottom: 33rem;
    font-size: 3rem;
}
.fa-down{
    z-index: 1;
}
.circle{
    z-index: 1;
}
#div2{
    background-color: #11749E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* top: 320px; */
    top: -73px;
    height: 100vh;
}

.features{
    display: flex;
    position: relative;
    width: 70%;
    right: 0%;
    padding-top: 100px;
}
.feature1{
    padding-left: 50px;
    width: 40%;
    padding-top: 40px;
}
p{
    width: 60%;
}
.features h2,p{
    color: white;
}
.srch{
    background-color: red;
    border-radius: 50%;
    width: 50px;
}

.search-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #2E85AA;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-icon {
    width: 30px;
    height: 30px;
    fill: #fff; /* Change the color of the search icon as needed */
  }

.feature1 h2{
    padding-top: 20px;
}
.big-w {
    font-size: 11rem; /* Adjust the font size as needed */
    font-weight: bold;
    position: relative;

    left: 35%;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 27%;
    color: #3C8DAF; /* Change the color of the W as needed */
}

.scroll-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent; /* Circular background color */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 46%;
    bottom: 300px;
    z-index: 1;
  }

  .scroll-icon {
    width: 30px;
    height: 30px;
    position: relative;
    fill: #fff; /* Color of the scroll icon */
  }

  .socials{
    display: flex;
    position: relative;
    left: 10%;
    
}
.socials a{
padding-left: 20px;
left: 20px;
}

#new1{
    color: #136C92;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-left: 28%;
}
#div3{
    display: grid;
    position: relative;
    top: -73px;
    grid-template-columns: repeat(2,4fr);
}
.square1{
    width:100%;
    background-color: black;
    height: 350px;
}
.square1 p{
    color: white;
    text-align: center;
    padding-top: 50px;
}
.square1 h2{
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-right:270px;
}


#text{
    width: 50%;
    padding-left: 60px;
    padding-top: 20px;
}

.square2{
    background-image: url("2.jpg");
}
#pic3{
    width: 100%;
    height: 350px;
}
.square4{
    width:100%;
    background-color: white;
    height: 350px;
}
.square4 p{
    color: black;
    text-align: center;
    padding-top: 50px;
}
.square4 h2{
    color: black;
    text-align: center;
    padding-top: 40px;
    padding-right:270px;
}

.square3{
    background-image: url("3.jpg");
}